<header>
    <div>
        <a scroll href="/">
            <img id="club-logo" alt="JURRI" src="static/images/jurri_logo.png">
        </a>
        <button type="button" id="open-burger-nav"></button>
        <button type="button" id="close-burger-nav"></button>
        <nav>
            <ul>
                <li class="en"><a href="/">front page</a></li>
                <li class="en"><a scroll class="active" href="#kerho">club</a></li>
                <li class="en"><a href="/questions.html">q&amp;a</a></li>
                <li class="en"><a scroll href="#contact">contact</a></li>

                <li class="fi"><a href="/">etusivu</a></li>
                <li class="fi"><a scroll class="active" href="#kerho">kerho</a></li>
                <li class="fi"><a href="/questions.html">UKK</a></li>
                <li class="fi"><a scroll href="#contact">yhteystiedot</a></li>

                <li>
                    <button type="button" id="toggle-language">
                        <div class="en"></div>
                        <div class="fi"></div>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</header>
