<div class="column">
    <h1>JURRI&mdash;Judoa vuodesta 2005 lähtien</h1>
    <p>
        JURRI&mdash;<strong>JU</strong>doa ha<strong>RR</strong>astavat teekkar<strong>I</strong>t&mdash;
        on teekkareiden Urheilu,- ja Voimailukerho (<a href="https://www.turvoke.fi/">TUrVoKe</a>) ry:n alainen lajijaosto.
        Sen tarkoitus on edistää judotoimintaa Tampereen yliopiston opiskelijoille sopivin hinnoin.
        JURRI järjestää joka vuosi sekä alkeis- että jatkokurssin,
        osallistuu Suomen Judoliiton toimintaan
        ja järjestää saunailtoja aina kun aihetta ilmenee.
        Treenit järjestetään <a href="">SportUni</a>:n tiloissa.
        Alla näkyvissä TUrVoKe:n SportUni:n logot.
    </p>
    <div class="flex-row" style="justify-content: space-around;">
        <img width="33%" alt="TUrVoKe logo" src="static/images/turvoke.png">
        <img width="33%" alt="SportUni logo" src="static/images/sportuni.png">
    </div>
    <p>
        JURRI:lla on oma hallitus,
        johon valitaan hallituksen jäsenten lisäksi tarvittava määrä toimihenkilöitä.
        Hallituksen sekä toimihenkilöiden tehtävänä on huolehtia tarvittavista välineistä 
        ja kurssien sekä muiden tapahtumien järjestämisestä.
        JURRI:n hallitus valitaan syyskokouksessa.
    </p>
</div>
