<header>
    <div>
        <a href="/">
            <img id="club-logo" alt="JURRI" src="static/images/jurri_logo.png">
        </a>
        <nav id="normal-nav">
            <ul>
                <li><a href="/">Etusivu</a></li>
                <li><a href="/club.html">Kerho</a></li>
                <li><a scroll class="active" href="#ukk">UKK</a></li>
                <li><a scroll href="#contact">Yhteystiedot</a></li>
            </ul>
        </nav>
        <button type="button" id="open-burger-nav"></button>
        <button type="button" id="close-burger-nav"></button>
    </div>
    <nav id="burger-nav">
        <ul>
            <li><a href="/">Etusivu</a></li>
            <li><a href="/club.html">Kerho</a></li>
            <li><a scroll class="active" href="#ukk">UKK</a></li>
            <li><a scroll href="#contact">Yhteystiedot</a></li>
        </ul>
    </nav>
</header>
