<section id="ukk">
    <div class="column fi">
        <h1>Missä on tatami?</h1>
        <p>
            Tatami sijaitsee Bommarissa,
            Rakennustalon alimmassa kerroksessa,
            punaisen oven takana.
            Tatamille kuljetaan sählykenttien takaa.
        </p>
    </div>
    <div class="column en">
        <h1>Where is the tatami?</h1>
        <p>
            The tatami is in Bommari,
            in the bottom floor of Rakennustalo
            behind a red door.
            The tatami can be accessed from behid the floorball fields.
        </p>
    </div>
</section>
<section>
    <div class="column fi">
        <h1>Missä leimaan kulkukorttini?</h1>
        <p>
            Tatamin ovessa on lukijalaite,
            josta pääsee sisään kulkukortilla,
            mikäli liikuntamaksu on maksettuna.
            Kaikkien tulee leimata kortti ovessa,
            vaikka tultaisiin tatamille porukalla,
            ja ovi on suljettava perässä.
        </p>
    </div>
    <div class="column en">
        <h1>Where do I swipe my student card?</h1>
        <p>
            The door to tatami has a card reader.
            You have to swipe your card in it to access the tatami.
            Notice that the SportUni membership free has to be paid
            in order to access.
            Remember to swipe your card even when going in a group,
            and close the door behind you.
        </p>
    </div>
</section>
<section>
    <div class="column fi">
        <h1>Pitääkö liikuntamaksu olla maksettuna?</h1>
        <p>
            Kyllä pitää. JURRIssa saavat treenata kaikki jäsenet ja ollakseen JURRIn jäsen,
            on oltava myös <a href="https://www.turvoke.fi/">TUrVoKe ry</a>:n jäsen
            sekä <a href="https://sites.tuni.fi/sportuni/">SportUni</a>:n jäsen
            ja sitä kautta jopa <a href="https://trey.fi/">TREY</a>:n jäsen.
        </p>
    </div>
    <div class="column en">
        <h1>Does the SportUni membership have to be paid?</h1>
        <p>
            Yes. To be a member of JURRI, and therefore take part in the practise sessions,
            you must be a member of <a href="https://www.turvoke.fi/">TUrVoKe ry</a>,
            and by extension a member of <a href="https://sites.tuni.fi/sportuni/">SportUni</a>
            and <a href="https://trey.fi/">TREY</a>.
        </p>
    </div>
</section>
<section>
    <div class="column fi">
        <h1>Mihin maksetaan JURRIn jäsenmaksu?</h1>
        <p>JURRIn tilille. Kysy hallitukselta tai rahastonhoitajalta lisätietoja.</p>
    </div>
    <div class="column en">
        <h1>Where do I pay the JURRI membership?</h1>
        <p>On JURRI's bank account. Ask the board or treasurer for more information.</p>
    </div>
</section>
<section>
    <div class="column fi">
        <h1>Mitä päälle treeneihin?</h1>
        <p>
            Judossa käytetään judopukua eli judogia ja ollaan paljain jaloin.
            Peruskurssin alussa verkkarit ja T-paita riittävät varusteiksi.
            Huomoi, että verkkareissa ei saa olla vetoketjuja, sillä ne saattavat vahingoittaa tatamia.
            Korut ja lävistykset on poistettava, hiukset sidottava niskan yläpuolelle ja kynnet leikattava lyhyiksi.
            Jälkimmäisessä kyse on turvallisuudesta.
            Tuskin tahdit hiustesi tai lävistyksesi repeävän irti, taikka kyntesi vääntyvän.
        </p>
    </div>
    <div class="column en">
        <h1>What to wear to practise?</h1>
        <p>
            In judo, a judogi is worn, and the feet are bare.
            In the beginning of the basic course,
            sweatpants and a T-shirt are enough.
            Notice that your clothes must not contain any hard bits,
            as they may damage the tatami.
            Also, jewelry and piercings must be removed or secured with sports tape.
            Hair should be tied above your neck and nails cut short.
            This is for eveyone's safety.
        </p>
    </div>
</section>
<section>
    <div class="column fi">
        <h1>Saako tatamille mennä kengillä?</h1>
        <p>
            Ehdottomasti ei.
            Kaikkea muutakin kovaa, terävää,
            tai likaista tulee välttää tatamilla (vyönsoljet, vetoketjut, yms.).
        </p>
    </div>
    <div class="column en">
        <h1>Can you wear shoes on the tatami?</h1>
        <p>
            Absolutely not.
            Evetything hard, sharp, and dirty must be avoided (belt buckles, zippers, etc.)
        </p>
    </div>
</section>
<section>
    <div class="column fi">
        <h1>Käykö kipeää?</h1>
        <p>
            Rapatessa roiskuu jne, eli aina välillä niin voi käydä.
            Päätä käyttämällä onnettomuusriski kuitenkin vähenee merkittävästi.
            Lisäksi olemme varautuneet yleisimpiin vammoihin ensiapulaukulla,
            josta löytyy kylmäpusseja, laastaria ja teippiä, sekä muita sekalaisia tarvikkeita.
        </p>
    </div>
    <div class="column en">
        <h1>Will it hurt?</h1>
        <p>
            Sometimes yes, but by thinking a little about what you do, that is fortunately quite rare.
            We are also prepared with some basic first-aid kit.
        </p>
    </div>
</section>
<section>
    <div class="column fi">
        <h1>Kannattaako judoliiton jäsenmaksu maksaa?</h1>
        <p>
            Vaikka liiton tapahtumat ja vyöarvot eivät kiinnostaisi,
            kannattaa se jo vakuutusturvan takia.
            Tyypillisesti vakuutusyhtiöiden myymät tapaturmavakuutuset eivät kata kamppailulajeja.
            Judoliiton jäsenyyden kautta kuitenkin saa <a href="https://judo.fi/judoliitto/suomisport/">lajivakuutuksen</a>,
            joka kattaa Judoa harrastaessa sattuneet tapaturmat.
        </p>
    </div>
    <div class="column en">
        <h1>Is it recommended to be a member of the Finnish Judo Federation?</h1>
        <p>
            Even if you din't find the ranks and events of the FJF interesting,
            it is recommended for the insurance.
            Typically, the insurances sold by insurance companies do not cover combat sports.
            The FJF membership comes with a Judo insurance,
            which covers most Judo-related injuries.
            Unfortunately, we couldn't find an English translation of the insurance terms :/
        </p>
    </div>
</section>
<section>
    <div class="column fi">
        <h1>Mistä saa vettä?</h1>
        <p>
            Tatamin vieressä on vesipisteitä, mutta niiden puhtaudesta ei ole takeita.
            Bommariin tullessa ennen sählykenttiä on vessat,
            joissa juomapullon voi täyttää ellei halua kantaa vettä kotoa saakka.
        </p>
    </div>
    <div class="column en">
        <h1>Where can I get water?</h1>
        <p>
            There are water spots next to the tatami,
            but they do look rather dirty.
            When you are coming from Rakennustalo to Bommari,
            there are toilets before the floorball fields.
            You can fill up there if you don't want to bring some water from home.
        </p>
    </div>
</section>
