<div class="column">
  <h1 class="en">Guide to accessing the tatami</h1>
  <h1 class="fi">Kulkuohje tatamille</h1>
  <ol>
    <li>
      <p class="en">
        You will need access permissions to the Hervanta campus and Bommari.
        Make sure that you have paid the SportUni membership fee, and visit the
        Tamppi Areena info desk to get access permissions to the tatami. You
        must also visit some of the other info desks to get the access
        permissions to Rakennustalo. It is possible to pay the SportUni
        membership free at the Tamppi Areena info desk, if you have not already
        paid it.
      </p>
      <p class="fi">
        Tarvitset kulkuoikeudet Hervannan kampukselle ja Bommariin. Varmista
        että olet maksanut SportUnin liikuntamaksun kleväälle ja käy Tamppi
        Areenalla (myös Hervannan kampuksella) pyytämässä päivitystä
        kulkuoikeuksiisi tatamia varten. Areenan tiskillä on mahdollista myös
        maksaa liikuntamaksu, mikäli et ole sitä vielä tehnyt.
      </p>
    </li>
    <li>
      <p class="en">
        The elevator to Bommari is located in Rakennustalo (inbetween Sähkötalo
        and Main building while traversing indoors). Take the elevator down to
        floor V.
      </p>
      <p class="fi">
        Hissi Bommariin on Rakennustalossa (Sähkötalon ja Päärakennuksen välissä
        sisäkautta kuljettuna). Laskeudu hissillä V-kerrokseen.
      </p>
      <img alt="The elevator" src="static/images/kulkuohje/0.jpg" />
    </li>
    <li>
      <p class="en">Swipe your card to the reader and head down.</p>
      <p class="fi">Vilauta korttia lukijaan ja suuntaa alas.</p>
      <img alt="Card reader" src="static/images/kulkuohje/3.jpg" />
    </li>
    <li>
      <p class="en">
        Upon arriving the the floorball fields, you will see the door to tatami
        in the far wall, behind the floorball fields. Swipe your card in the
        reader at the door. The door is rather stiff; pull firmly.
      </p>
      <p class="fi">
        Saavuttuasi sählykentille näet tatamin oven peränurkassa kenttien
        takana. Ovella tarvitsee taas vilauttaa korttia. Ovi on melko jäykkä;
        vedä tomerasti.
      </p>
      <img alt="Floorball fields" src="static/images/kulkuohje/4.jpg" />
    </li>
    <li>
      <p class="en">You are there when it looks something like this.</p>
      <p class="fi">Olet perillä kun alkaa näyttää tältä.</p>
      <img alt="Tatami" src="static/images/kulkuohje/5.jpg" />
    </li>
  </ol>
</div>
