<div class="column">
    <h1>Kulkuohje tatamille</h1>
    <ol>
        <li>
            <p>
                Tarvitset kulkuoikeudet Hervannan kampukselle ja Bommariin.
                Varmista että olet maksanut SportUnin liikuntamaksun kleväälle
                ja käy Tamppi Areenalla (myös Hervannan kampuksella) pyytämässä päivitystä kulkuoikeuksiisi tatamia varten.
                Areenan tiskillä on mahdollista myös maksaa liikuntamaksu,
                mikäli et ole sitä vielä tehnyt.
            </p>
        </li>
        <li>
            <p>Astu sisään Rakennustaloon.</p>
            <img alt="Rakennustalon etuovi" src="static/images/kulkuohje/1.jpg">
        </li>
        <li>
            <p>Käänny välittömästi vasemmalle. Kulje lasiovista ja ota hissi V-kerrokseen.</p>
            <img alt="Rakennustalon aula" src="static/images/kulkuohje/2.jpg">
        </li>
        <li>
            <p>Vilauta korttia lukijaan ja suuntaa alas.</p>
            <img alt="Rakennustalon etuovi" src="static/images/kulkuohje/3.jpg">
        </li>
        <li>
            <p>
                Saavuttuasi sählykentille näet tatamin oven peränurkassa kenttien takana.
                Ovella tarvitsee taas vilauttaa korttia.
                Ovi on melko jäykkä; vedä tomerasti.
            </p>
            <img alt="Rakennustalon etuovi" src="static/images/kulkuohje/4.jpg">
        </li>
        <li>
            <p>Olet perillä kun alkaa näyttää tältä.</p>
            <img alt="Rakennustalon etuovi" src="static/images/kulkuohje/5.jpg">
        </li>
    </ol>
</div>
