<img class="en" src="static/images/start_judo_en.jpg" alt="Kurssimainos" />
<img class="fi" src="static/images/start_judo_fi.jpg" alt="Kurssimainos" />
<div class="column">
  <div class="en">
    <h1>JURRI will organize a Judo beginner's course in atumn 2024</h1>
    <p>
      Judo is a diverse sport which many have found a lifelong hobby in.
      Grappling improves your body control and is a fun way to get in shape.
      Judo is famous for its throwing techniques but the grappling also extends
      to the mat.
    </p>
    <p>
      In the <strong>beginners’ course</strong> you'll learn some basic
      techniques of judo starting with the safe way to fall. At the end of the
      course you'll know a few throws and some ground techniques, and you are
      starting to get the hang of the dynamics of grappling. With the
      <strong>more advanced judokas</strong> we'll focus on finding your own
      grip, technique and strategy as well as technique combinations.
    </p>
    <p>
      To attend you will need a t-shirt, sweatpants and a water bottle. A judo
      suit (judogi) is recommended down the line as we'll advance in the
      grappling exercises.
    </p>
    <p><strong>Price:</strong> 20 € including JURRI’s membership fee</p>
    <p>
      In order to get to the tatami you will need access rights to Hervanta
      campus and need to have paid the SportUni fee.
    </p>
    <p>
      <strong>No sign up needed!</strong> Just show up, preferably with a
      friend. The classes will run throughout Autumn.
      <strong> First class 9th September 2024 </strong>
      but feel free to join on a later date if you can’t quite make it then.
    </p>
    <p>
      Join our training group on Telegram and let us know you’re coming or to
      ask further questions:
    </p>
  </div>

  <div class="fi">
    <h1>JURRI järjestää judon alkeiskurssin syksyllä 2024</h1>
    <p>
      Judo on monipuolinen urheilulaji, josta moni saa elämän mittaisen
      harrastuksen. Kamppailu on paitsi hauskaa myös kuntoa ja kehonhallintaa
      kehittävää. Judon tunnistettavin piirre ovat erilaiset heitot. Niiden
      lisäksi väännetään myös matossa.
    </p>
    <p>
      <strong>Alkeiskurssilla</strong> opetellaan judon perustekniikoita
      turvallisesta kaatumisesta alkaen. Kurssin päätteeksi hallitset muutamia
      pysty- ja mattotekniikoita sekä hahmotat paremmin kamppailun dynamiikkaa.
    </p>
    <p>
      <strong>Edistyneiden</strong> kanssa syvennytään tarkemmin oman otteen,
      tekniikan ja taktiikan löytämiseen sekä kombinaatioihin.
    </p>
    <p>
      Treeneihin tarvitset sisäliikuntavaatteet ja vesipullon. Judopuvun
      (judogi) hankkiminen jossain kohtaa kurssia on suositeltavaa
      kamppailuharjoitteiden edetessä.
    </p>
    <p><strong>Hinta:</strong> 20 € sisältäen JURRIn jäsenyyden.</p>
    <p>
      Tatamille päästäksesi tarvitset Hervannan kulkuoikeudet sekä maksetun
      SportUnin liikuntamaksun.
    </p>
    <p>
      <strong>Ei ennakkoilmoittautumista</strong>; saavu vain paikalle ja
      mieluiten kaverin kanssa. Treenit jatkuvat läpi syksyn.
      <strong>Ensimmäiset treenit 9. syyskuuta 2024</strong>, mutta saavu toki
      myöhemminkin, jos et heti ehdi mukaan.
    </p>
    <p>
      Liity ihmeessä jo nyt myös JURRIn treeniryhmään Telegramissa ja kerro
      tulostasi tai kysy lisää:
    </p>
  </div>

  <div id="tg-link">
    <a href="https://t.me/+WwmkMDHkiG43ZTlk">
      <img src="static/images/telegram-qr.jpg" alt="Telegram-linkki" />
      <p class="en">Click on the picture!</p>
      <p class="fi">Klikkaa kuvaa!</p>
    </a>
  </div>
</div>
