<img src="static/images/judo_poster.jpg" alt="Judo for everyone" />
<div class="column">
  <div class="en">
    <h1>Interested in judo?</h1>
    <h2 style="text-align: center">Come and try a practice with us!</h2>
    <p>
      JURRI is the judo club of Hervanta Campus. Our practices are open to
      everyone, from complete beginners to experienced judokas. You don't need
      any previous experience or a certain level of fitness &ndash; just come
      as you are, and we'll teach you the basics. Instructions are given in
      both English and Finnish.
    </p>
    <p>
      Judo is a great way to get in shape, learn new skills and meet new
      friends. You can join whenever it suits you, and feel free to bring a
      friend along!
    </p>

    <section class="info-card">
      <dl class="grid-list">
        <dt>Where?</dt>
        <dd>Bommari tatami, Hervanta Campus</dd>

        <dt>When?</dt>
        <dd>See the practise times below</dd>

        <dt>What do I need?</dt>
        <dd>
          Sweatpants and a T-shirt without zippers or other hard bits, and a
          water bottle
        </dd>
      </dl>
    </section>

    <p>
      Let us know you're coming in our
      <a href="https://t.me/+WwmkMDHkiG43ZTlk" target="_blank">Telegram group</a>,
      and check out the
      <a href="questions.html">Q&amp;A</a> for more info.
    </p>
  </div>

  <div class="fi">
    <h1>Kiinnostaako judo?</h1>
    <h2 style="text-align: center">Tule kokeilemaan treenejä!</h2>
    <p>
      JURRI on Hervannan kampuksen judokerho. Treenimme ovat avoimia kaikille
      täysin vasta-alkajista kokeneisiin judokoihin. Aiempaa kokemusta tai
      tiettyä kuntotasoa ei tarvita &ndash; tule sellaisena kuin olet, niin
      opetamme sinulle perusteet. Ohjeita annetaan sekä suomeksi että
      englanniksi.
    </p>
    <p>
      Judo on loistava tapa kohottaa kuntoa, oppia uusia taitoja ja tutustua
      uusiin ihmisiin. Voit aloittaa milloin vain, ja kaverinkin saa ottaa
      mukaan!
    </p>

    <section class="info-card">
      <dl class="grid-list">
        <dt>Paikka:</dt>
        <dd>Bommarin tatami, Hervannan kampus</dd>

        <dt>Aika:</dt>
        <dd>katso treeniajat alta</dd>

        <dt>Varustus:</dt>
        <dd>
          verkkarit ja T-paita ilman vetoketjuja tai muita kovia osia sekä
          vesipullo
        </dd>
      </dl>
    </section>

    <p>
      Kerro tulostasi
      <a href="https://t.me/+WwmkMDHkiG43ZTlk" target="_blank">Telegram-ryhmässämme</a>
      ja lue lisää
      <a href="questions.html">UKK</a>-sivulta.
    </p>
  </div>
</div>
