<img src="static/images/intensiivi_webkuva.jpg" alt="Kurssimainos" />
<div class="column">
  <div class="en">
    <h1>Interested in judo?</h1>
    <h2 style="text-align: center">
      Join the Judo Kickstart intensive course!
    </h2>
    <p>
      JURRI is hosting a weekend-long judo camp in early February in Bommari
      (Hervanta Campus). It consists of four judo sessions and one slideshow
      presentation and it is aimed for complete beginners<span
        style="color: red"
        >*</span
      >. The course will go over the core basics of judo training and judo as a
      sport as well as JURRI as a club and the people in it. This intensive
      course offers great basis for the regular JURRI sessions and works as a
      kickstart to a new hobby.
    </p>

    <section class="info-card">
      <dl class="grid-list">
        <dt>When?</dt>
        <dd>Feb 7th – 8th</dd>

        <dt>Where?</dt>
        <dd>Bommari tatami, Hervanta Campus</dd>

        <dt>Price?</dt>
        <dd>
          <b>40 €</b>
          <small>(30 € for JURRI members, membership is 5 €)</small>
        </dd>

        <dt>What do I need?</dt>
        <dd>Sports-suitable clothing, water bottle, some food (Sunday only)</dd>

        <dt>Bonus offer:</dt>
        <dd>You can bring a friend for only +5 €</dd>
      </dl>
    </section>
    <p>
      <b>Signup:</b>
      <a href="https://forms.gle/WAVNM7wghkmJwvFF8" target="_blank">
        https://forms.gle/WAVNM7wghkmJwvFF8
      </a>
    </p>
    <h3>Schedule:</h3>

    <section class="info-card">
      <dl class="grid-list">
        <dt style="font-weight: bold">Saturday, Feb 7th</dt>
        <dd></dd>

        <dt>12:00 – 13:30</dt>
        <dd>Session 1</dd>

        <dt>13:30 – 15:00</dt>
        <dd>Lunch break</dd>

        <dt>15:00 – 16:30</dt>
        <dd>Session 2</dd>

        <dt style="font-weight: bold">Sunnuntai 8.2.</dt>
        <dd></dd>

        <dt>12:00 – 13:30</dt>
        <dd>Session 3</dd>

        <dt>13:30 – 15:00</dt>
        <dd>Theory bit in the Language center, lunch</dd>

        <dt>15:00 – 16:30</dt>
        <dd>Session 4, open to JURRI members</dd>
      </dl>
    </section>

    <p>
      For further questions, message
      <a href="https://t.me/tuutti" target="_blank">@Tuutti</a> on Telegram.
    </p>

    <small>
      <span style="color: red">*</span>if you have done judo in the past, you’re
      welcome to join as at the Language center and the fourth session after.
    </small>
  </div>

  <div class="fi">
    <h1>Kiinnostaako judo?</h1>
    <h2 style="text-align: center">
      Tule Judo Kickstart -intensiivikurssille!
    </h2>
    <p>
      JURRI järjestää helmikuun alussa viikonlopun mittaisen judoleirin
      Bommarissa. Leiri sisältää neljät harjoitukset sekä yhden teoriaosuuden ja
      on suunnattu vasta-alkajille<span style="color: red">*</span>. Kurssilla
      tulee tutuksi judoharjoittelun ydin sekä judo lajina mutta myös JURRIn
      toiminta ja porukka. Intensiivikurssilla saavuttaa siis hyvät lähtökohdat
      JURRIn treeneihin ja uuden harrastuksen alkuun.
    </p>

    <section class="info-card">
      <dl class="grid-list">
        <dt>Aika:</dt>
        <dd>7.–8.2.2026</dd>

        <dt>Paikka:</dt>
        <dd>Bommarin tatami, Hervannan kampus</dd>

        <dt>Hinta:</dt>
        <dd>
          <b>40 €</b>
          <small>(jäsenille 30 €, jäsenyys 5 €)</small>
        </dd>

        <dt>Varustus:</dt>
        <dd>liikuntavaatteet, vesipullo, sunnuntaina eväät</dd>

        <dt>Bonustarjous:</dt>
        <dd>yhdellä leirimaksulla kaveri mukaan +5 €</dd>
      </dl>
    </section>
    <p>
      <b>Ilmoittautuminen:</b>
      <a href="https://forms.gle/WAVNM7wghkmJwvFF8" target="_blank">
        https://forms.gle/WAVNM7wghkmJwvFF8
      </a>
    </p>
    <h3>Leirin aikataulu:</h3>

    <section class="info-card">
      <dl class="grid-list">
        <dt style="font-weight: bold">Lauantai 7.2.</dt>
        <dd></dd>

        <dt>12:00 – 13:30</dt>
        <dd>Treeni 1</dd>

        <dt>13:30 – 15:00</dt>
        <dd>ruokatauko, vapaa ruokailu esim. Reaktorissa</dd>

        <dt>15:00 – 16:30</dt>
        <dd>Treeni 2</dd>

        <dt style="font-weight: bold">Sunnuntai 8.2.</dt>
        <dd></dd>

        <dt>12:00 – 13:30</dt>
        <dd>Treeni 3</dd>

        <dt>13:30 – 15:00</dt>
        <dd>Teoriaosuus Kielikeskuksen keittiöllä, eväät</dd>

        <dt>15:00 – 16:30</dt>
        <dd>Treeni 4, avoin jäsenille</dd>
      </dl>
    </section>

    <p>
      Jos on jotain kysyttävää, ole yhteydessä
      <a href="https://t.me/tuutti" target="_blank">@Tuutti</a> Telegramissa.
    </p>

    <small
      ><span style="color: red">*</span>Mikäli sinulta löytyy jo judotaustaa,
      olet tervetullut sunnuntain teoriaosuudelle sekä viimeisiin
      treeneihin.</small
    >
  </div>
</div>
