<div class="column">
  <div class="en">
    <p>
      Join our training group on Telegram and let us know you’re coming or to
      ask further questions:
    </p>
  </div>

  <div class="fi">
    <p>
      Liity ihmeessä myös JURRIn treeniryhmään Telegramissa ja kerro tulostasi
      tai kysy lisää:
    </p>
  </div>

  <div id="tg-link">
    <a href="https://t.me/+WwmkMDHkiG43ZTlk">
      <img src="static/images/telegram-qr.jpg" alt="Telegram-linkki" />
      <p class="en">Click on the picture!</p>
      <p class="fi">Klikkaa kuvaa!</p>
    </a>
  </div>
</div>
