header {
    position: sticky;
    top: 0;
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 12pt;
    box-shadow: 0 0 10px black;
    text-transform: uppercase;
}

header a {
    font-size: 14pt;
    text-decoration: none;
}

header a.active {
    font-weight: 700;
}

header a:visited,
header a:active,
header a:link,
header a:hover {
    color: inherit;
}

header div {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    width: clamp(450px, 80%, 95%);
    column-gap: 20px;
}

header img {
    height: 75px;
}

header nav {
    justify-content: space-between;
    align-items: center;
    width: clamp(500px, 40%, 90%);
}

header button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 70px;
    height: 70px;
}

header ul {
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

header #open-burger-nav {
    background-image: url(icons/burger.svg);
    display: none;
}

header #close-burger-nav {
    background-image: url(icons/close.svg);
    display: none;
}

header .burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .burger ul {
    width: 100%;
    display: flex;
    flex: 0 0 200px;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

header .show {
    display: flex;
    width: 100%;
}

@media (max-width: 800px) {
    header div {
        width: 95%;
        justify-content: space-around;
    }
}

#toggle-language .en {
    width: 50px;
    height: 50px;
    background-image: url('icons/siniristi.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#toggle-language .fi {
    width: 50px;
    height: 50px;
    background-image: url('icons/union_jack.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
