main {
    background-color: var(--bg-dark);
    flex: 1 1 100%;
    text-align: left;
}

main section:nth-child(odd) {
    background-color: var(--bg-light);
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 0;
}

main section h1 {
    text-align: center;
    margin-top: 0;
}

main section ol {
    margin: 0;
}

main section p {
    margin: 0.5em 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    padding: 20px 5px;
}

main #kurssimainos {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

main #kurssimainos img {
    height: calc(100vh - 70px);
}

main #kurssimainos .column {
    width: 50%;
    margin: auto;
}

div #tg-link {
    display: block;
}

div #tg-link a {
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: clamp(0px, 98%, 15em);
}

main div #tg-link img {
    display: block;
    margin: auto;
    height: auto;
    width: 100%;
}

@media (max-width: 1200px) {
    main #kurssimainos {
        flex-direction: column;
        align-items: center;
    }

    main #kurssimainos img {
        height: auto;
        width: clamp(0px, 100%, 500px);
    }

    main .column {
        width: clamp(0px, 98%, calc(1200px - 20%));
    }

    main #kurssimainos .column {
        width: clamp(0px, 98%, 500px);
    }
}

main #kulkuohje ol {
    columns: 2;
    column-gap: 4em;
    column-rule: 1px solid black;
}

main #kulkuohje li {
    width: 70%;
    break-inside: avoid-column;
    margin: auto;
    margin-bottom: 1.5em;
}

main #kulkuohje img {
    width: 100%;
    display: block;
    margin: auto;
}

@media (max-width: 900px) {
    main #kulkuohje ol {
        columns: 1;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;
}

.flex-row img {
    display: block;
    margin: 1em auto;
}

main #treeniajat p {
    text-align: center;
}
