<div class="column">
  <h1 class="en">JURRI&mdash;Board 2026</h1>
  <h1 class="fi">JURRI&mdash;Hallitus 2026</h1>

  <p class="en">
    The following members were elected for the new board term at JURRI's 2025
    autumn meeting. The board leads the organization's activities and is
    responsible for administrative decisions. If you have questions for the
    board, you can contact us by email at
    <a href="mailto:jurri@lists.tuni.fi">jurri@lists.tuni.fi</a>. For sensitive
    matters, you can contact the harassment contact person privately via
    Telegram.
  </p>
  <p class="fi">
    Jurrin vuoden 2025 syyskokouksessa valittiin uuden hallituskauteen seuraavat
    jäsenet. Hallitus johtaa järjestön toimintaa ja vastaa hallintoon
    liittyvistä päätöksistä. Jos sinulla on kysymyksiä hallitukselle, voit ottaa
    yhteyttä sähköpostin avulla osoitteeseen
    <a href="mailto:jurri@lists.tuni.fi">jurri@lists.tuni.fi</a>.
    Arkaluonteisiin asioihin liittyvissä tapauksissa voit ottaa yksityisesti
    yhteyttä häirintävastaavaan Telegrammin kautta.
  </p>

  <div id="board-grid">
    <div class="board-card">
      <div class="board-photo">
        <img src="static/images/board/2026_Joona.jpg" alt="Joona" />
        <p class="photo-credit">© Eetu Kinnunen</p>
      </div>
      <div class="board-info">
        <h2>Joona Salonen</h2>
        <p class="en">Chairperson, Harassment Contact Person</p>
        <p class="fi">Puheenjohtaja, Häirintävastaava</p>
        <a href="https://t.me/JSalonen">Tg</a>
      </div>
    </div>

    <div class="board-card">
      <div class="board-photo">
        <img src="static/images/board/2026_Ossi.jpg" alt="Ossi Karppinen" />
        <p class="photo-credit">© Eetu Kinnunen</p>
      </div>
      <div class="board-info">
        <h2>Ossi Karppinen</h2>
        <p class="en">Vice Chairperson</p>
        <p class="fi">Varapuheenjohtaja</p>
      </div>
    </div>

    <div class="board-card">
      <div class="board-photo">
        <img src="static/images/board/2026_Erik.jpg" alt="Eric" />
        <p class="photo-credit">© Eetu Kinnunen</p>
      </div>
      <div class="board-info">
        <h2>Erik Kohl</h2>
        <p class="en">Secretary</p>
        <p class="fi">Sihteeri</p>
      </div>
    </div>

    <div class="board-card">
      <div class="board-photo">
        <img src="static/images/board/2026_Eetu.jpg" alt="Eetu" />
        <p class="photo-credit">© Eetu Kinnunen</p>
      </div>
      <div class="board-info">
        <h2>Eetu Kinnunen</h2>
        <p class="en">Communications Officer</p>
        <p class="fi">Viestintävastava</p>
      </div>
    </div>

    <div class="board-card">
      <div class="board-photo">
        <img src="static/images/board/2026_Alexander.jpg" alt="Alexander" />
        <p class="photo-credit">© Kalle Kiviniemi</p>
      </div>
      <div class="board-info">
        <h2>Alexander Gradov</h2>
        <p class="en">Treasurer</p>
        <p class="fi">Rahastonhoitaja</p>
      </div>
    </div>
  </div>
</div>
